body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
  transition: all 0.3s;
}

.btn:enabled:hover {
  border-color: #000;
  text-decoration: none;
  background-color: #d3d3d3;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 3px;
}

.center {
  text-align: center;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  font-weight: bold;
  border-width: 2px;
}

.nav ul li:hover{
  font-weight: bold;
}

.nav ul li{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-bottom: 0;
}

.nav li:first-child {
  padding-left: 0;
}

.nav {
  border-bottom: 1px solid #7a7a7a;
  display: flex;
  justify-content: space-between;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 35px;
  border-radius: 25px;
  margin-right: 5px;
}

.login-avatar {
  width: 250px;
  height: 250px;
  background-color: white;
  background-image: url("./icons/18458439_6000940.svg");
  background-size: 200px 200px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.btn-logout:hover {
  color: #000;
}

.btn-logout {
  color: #7b7a7a;
  cursor: pointer;
}

input {
  height: 32px;
  width: 100%;
}

form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

.time {
  color: gray;
}

.card-btn {
  width: 100%;
  padding: 7px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: white;
  color: green;
  font-weight: normal;
  font-size: inherit;
  transition: all 0.3s;
}

.card-btn:enabled:hover {
  font-weight: bold;
}

.card-btn:focus {
  background-color: green;
  color: #fff;
}

.card-part:first-child {
  border-bottom: 1px solid #7a7a7a;
}

.card-part label {
  padding: 5px;
}

.card-part {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 240px;
  padding: 0;
  border: 1px solid #7b7a7a;
  border-radius: 5px;
  margin: 7px;
}

.card-container {
  display: flex;
  border-top: 1px solid #7b7a7a;
  flex-wrap: wrap;
  padding: 7px;
}

.answer-poll-btn {
  padding: 10px;
  background-color: rgb(16, 179, 154);
  color: white;
  font-weight: normal;
  font-size: inherit;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
}

.answer-poll-btn:hover {
  background-color: rgb(19, 85, 75);
}

.poll-option-text {
  text-align: center;
  padding: 13px;
}

.poll-option.answered {
  color: white;
  background-color: rgb(19, 85, 75);
}

.poll-option {
  padding: 0;
  border: 1px solid #7b7a7a;
  border-radius: 5px;
}

.poll-option-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(128px,1fr));
  gap: 20px;
  padding: 10px;
}

.poll-author-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.section {
  width: 100%;
  border: 1px solid #7b7a7a;
  margin-top: 40px;
  border-radius: 10px;
}

.message-no-data {
  width: 100%;
  text-align: center;
  color: gray;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #e7e5e5;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}

th, td {
  padding: 15px;
}

.d-flex {
  display: flex;
}